[submodule "sonrasc-front"]
	path = sonrasc-front
	url = https://github.com/brennj55/sonrasc-front.git
[submodule "sonrasc-ocr-api"]
	path = sonrasc-ocr-api
	url = https://github.com/brennj55/sonrasc-ocr-api.git
